include partials/_header
body.palette-banana
    .container
            div.col-md-4.col-md-offset-4
                div.text-center
                    img.logo(src="assets/images/logo-black.png")
                h3.text-center I am interested in
                p.text-center Choose a course and select continue
                div
                    #course-list.list-group
                      a.list-group-item(href="#")
                        | Search Optimization
                      a.list-group-item(href="#")
                        | Linkedin Marketing
                      a.list-group-item(href="#")
                        | Mobile
                      a.list-group-item(href="#")
                        | Social Marketing
                div.text-center
                    a.btn-block.btn.btn-success(href="goals.html")
                        |  Continue

include partials/_footer
