include partials/_header
body.palette-banana
    .container
        div.col-md-6.col-md-offset-3
            div.text-center
                img.logo(src="assets/images/logo-black.png")
                p.text-right Step 5 / 10
                .progress
                    .progress-bar.progress-bar-info(role='progressbar', style='width: 50%;')

            //- Nugget
            h3  Keywords and SEO

            div
              iframe(width='420', height='315', src='https://www.youtube.com/embed/El3IZFGERbM', frameborder='0', allowfullscreen='')

            .content.space-top
              p
                | Keywords and search engine optimization have been considered important for a long time in the online world, particularly for ranking in the search engines on the first few pages so people can actually find you.


            //- Navigation buttons
            div.row.space-top
                .col-sm-6
                    a.btn-block.btn.btn-success(href="keywords.html")
                        |  Back
                .col-sm-6
                    a.btn-block.btn.btn-success(href="interaction-1.html")
                        |  Continue


include partials/_footer
