script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
script.
    window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')
script(src='assets/js/vendor/bootstrap/bootstrap.min.js')
script(src='assets/js/plugins.js')
script(src='assets/js/vendor/drunken-parrot/checkbox.js')
script(src='assets/js/vendor/drunken-parrot/radio.js')
script(src='assets/js/vendor/drunken-parrot/bootstrap-switch.js')
script(src='assets/js/vendor/drunken-parrot/toolbar.js')
script(src='assets/js/vendor/drunken-parrot/classie.js')
script(src='assets/js/vendor/drunken-parrot/application.js')
script(src='assets/js/main.js')
