doctype html
html
  head
    title Kube

    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(name="viewport", content="width=device-width, initial-scale=1")

    link(rel="apple-touch-icon", href="apple-touch-icon.png")
    link(rel="shortcut icon", href="favicon.ico")
    link(rel="stylesheet", href="assets/css/normalize.min.css")
    link(rel="stylesheet", href="assets/css/bootstrap.css")
    link(rel="stylesheet", href="assets/css/drunken-parrot.css")
    link(rel="stylesheet", href="assets/css/style.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")

    script(src="assets/js/vendor/modernizr/modernizr-2.8.3-respond-1.4.2.min.js")
